@charset "utf-8";
@import "compass";
/* ===================================================================

2016

=================================================================== */

/*----------------------------------------------------
	全体
----------------------------------------------------*/

html, body {
	padding: 0;
	margin: 0;
}
body {
	font-family:-apple-system, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", YuGothic, Avenir, Verdana, Arial, "メイリオ", Roboto, Meiryo, sans-serif;
	font-weight:500;
	background-color: #fff;
	font-size: 16px;
	line-height: 2.0em;
	color: #4D4D4D;
	position: relative;
	-webkit-text-size-adjust: none;
	/* word-break:break-all; */
}

/* clerfix */
.clearfix { zoom : 1; }
.clearfix:after{ content : ''; display : block; clear : both; }

ul, li { list-style:none; }

body *{ text-shadow: none;}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.5em;
	font-weight: bold;
	margin: 10px 0;
}

img { max-width:100%;height:auto;}

.tC { text-align: center;}
.tL { text-align: left;}
.tR { text-align: right;}

.f_left {
	float:left;
}
.f_right {
 float:right;
}

*{
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}

/*----------------------------------------------------
	テキスト
----------------------------------------------------*/
h1 {
	padding: 0;
	margin:0;
}
h2{
	padding: 0;
	margin:0;
}
h3{
	font-size: 22px;
	color: #BB9B7E;
	margin-bottom: 20px;
}
h4{
	font-size: 18px;
	color: #BB9B7E;
}
h5{
	font-size: 16px;
}
p{ margin: 10px 0;}

a, a:link, a:active, a:visited, a:hover{
	color: inherit;
	text-decoration: underline;
	-webkit-tap-highlight-color: rgba(255,255,255,0.6);
}

a, a:link{
	color: #F15A24;
}
a:hover{
	color: #CCC;
	text-decoration: none;
}
.text34 { font-size: 34px;}
.text45 { font-size: 45px;}

/*----------------------------------------------------
	共通
----------------------------------------------------*/
#wrapper{
	width: 100%;
	margin:0;
}
#container {
	width: 100%;
	margin:0;
}
article {}
section {
	padding: 0.5em 0;
	margin-bottom: 1.5em;
	zoom : 1;
}
section:after{ content : ''; display : block; clear : both; }
.contents{
	max-width: 960px;
	margin:0 auto;
	padding: 0 0 1.5em 0;
}

.block-bgA{
	background: #F4F4ED;
	padding: 3em 0;
}
.block-bgA section,
.block-bgB section{
	padding: 0;
}
.block-bgB{
	padding: 3em 0;
}
.block-img{ width: 40%;}
.block-text{ width: 55%;}
.block-text.w640 {
	width: 640px;
	margin: 0 auto;
	padding: 2em 0;
}
.sp-head,.sp-text,.sp-img {
    display: none !important ;
}
.pc-head,.pc-text,.pc-img  {
    display: inherit !important;
}

.w640 {
	width: 640px;
	margin: 0 auto;
	padding: 2em 0;
	max-width:100%;
	box-sizing: border-box;
}

/*	カラム
----------------------------------------------------*/

.row { zoom : 1; }
.row:after{ content : ''; display : block; clear : both; }
.col-2,.col-3,.col-4,.col-5,.col-6 { float:left;}
.col-2{ width: 50%;}
.col-3{ width: 33.3333333%;}
.col-4{ width: 25%;}
.col-5{ width: 20%;}
.col-6{ width: 16.6666667%;}


/*	リスト
----------------------------------------------------*/

ul.def_type, ol.def_type{
	margin-left: 20px;
	margin-bottom: 20px;
}
ul.def_type li {
	margin: 5px 0;
	padding-left: 5px;
	list-style-type: disc;
	border:none;
}
ol.def_type li {
	margin: 5px 0;
	padding-left: 5px;
	list-style-type: decimal;
	border:none;
}

/*	ボタン
----------------------------------------------------*/

.btn_waku {
	width: 80%;
	margin: 1em auto;
	display: block;
	text-align: center;
	font-weight: bold;
}
.btn_waku a {
	display: block;
	padding: 0.5em 1em;
	text-decoration:none;
	border: 1px solid #F15A24;
	color:#F15A24;
	background: #FFF;
	@include transition(background-color 0.6s);
}
.btn_waku a:hover {
	text-decoration:none;
	color:#FFF;
	background: #F15A24;
}

.btn_waku.btn-color2 a {
	color:#FFF;
	background: #F15A24;
}
.btn_waku.btn-color2 a:hover {
	color:#F15A24;
	background: #FFF;
}
.btn_waku.btn-color3 a {
	color:#FFF;
	border: 1px solid #FFF;
	background: rgba(255,255,255,0);
}
.btn_waku.btn-color3 a:hover {
	color:#FFF;
	border: 1px solid #FFF;
	background: rgba(255,255,255,0.5);
}

/*	iframe用
----------------------------------------------------*/
.iframe-content {
	position: relative;
	width: 100%;
	padding: 56.25% 0 0 0;
}
.iframe-content iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*----------------------------------------------------
	header
----------------------------------------------------*/
header {
	color: #4d4d4d;
	width: 100%;
	height: 170px;
	padding: 0;
	margin-bottom: 0;
}
#header,
.header{
	h1 img {
		@include transition(opacity 0.6s);
		&:hover {
			@include opacity(0.7);
		}
	}
}
/* sp */
.sp-head {
    display: none !important ;
	background:rgba(255, 255, 255, 0.9);
	padding: 0;
	height: auto;
	width:100%;
}
nav#menu:not(.mm-menu){ display: none;}
.sp-head{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}
.sp-head .header {
	width: 100%;
	position: relative;
}
.sp-head .header h1{
	width: 25%;
	min-width: 150px;
}
.sp-head .header h1 img{
	width: 100%;
	padding: 0.5em;
	height: auto;
}
.sp-head .header .menu{
	position: absolute;
	right: 5px;
	top: 10px;
	height: 60px;
	width: 60px;
	padding: 5px;
	border: 1px solid #EFEFEF;
}
.sp-head .header .menu a{
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 10px;
	text-decoration: none;
	font-size: 12px;
	line-height: 1;
	text-align: center;
	font-family: 'Arvo', serif;
	color:#BA9374;
}
.sp-head .header .menu a:hover {
	color:#CCC;
}
.sp-head .header .menu span.icon-icon_menu {
	font-size: 40px;
}

/* pc */
.pc-head {
    display: inherit !important;
	font-size: 14px;
}
.fixheader_top {
  	width: 100%;
  	position: fixed;
	background: #000;
	height: 30px;
	z-index: 1;
}
.fixheader_top .btn_en{
  	width: 1000px;
	position: relative;
	margin: 0 auto;
	font-family: 'Arvo', serif;
}
.fixheader_top .btn_en a{
  	width: 200px;
	position: absolute;
	top:0;
	right: 0;
	text-align: center;
	display: block;
	background: #FF0000;
	color: #FFF;
	height: 30px;
	line-height: 30px;
	text-decoration: none;
	@include transition(opacity 0.6s);
	&:hover {
		@include opacity(0.5);
	}
}
#header .fixheader {
    position: absolute;
    background: rgba(255,255,255,.7);
    width: 100%;
	height: 140px;
    padding-top: 30px;
    padding-bottom: 30px;
}
#header.fixed{
    position: fixed;
    margin-top: 0;
    padding-bottom: 0;
	z-index: 999;
}
#header.fixed .fixheader {
    position: fixed;
    margin-top: 30px;
    padding: 0px;
	height: 50px;
}
#header h1 {
    transform: scale(1);
	position: absolute;
	left:0;
	top:0;
	z-index: 999;
}
#header.fixed .fixheader h1{
    transform: scale(0.8);
	transform-origin: 0 0;
	margin-top: -30px;
}
#header nav {
	width: 1000px;
	padding: 50px 0 0 0;
	margin: 0 auto;
	position: relative;
}
#header .social_btn {
	width: 1000px;
	padding: 0;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}
#header .social_btn ul{
	text-align: right;
	height: 30px;
	padding: 0;
	position: absolute;
	right: 10px;
	top: 10px;
}
#header .social_btn li{
	display: inline-table;
	padding: 0;
	text-align: center;
	font-size: 20px;
}
#header .social_btn li a{
	font-size: 20px;
	width: 28px;
	height: 28px;
	border-radius: 14px;
	color: #FFF;
	text-decoration: none;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
	align-items: center; /* 縦方向中央揃え */
	-webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
	justify-content: center; /* 横方向中央揃え */
	@include transition(opacity 0.6s);
	&:hover {
		@include opacity(0.5);
	}
}
#header .social_btn li.icon_f a{ background:#0071BC;}
#header .social_btn li.icon_i a{ background:#F15A24;}
#header .social_btn li.icon_t a{ background:#29ABE2;}
#header .social_btn li.icon_y{
	position: relative;
	top: -2px;
	a {
		background:red;
	}
}


#header.fixed .social_btn {
	right: 210px;
	top: -38px;
}
#header.fixed .social_btn li.icon_f a,
#header.fixed .social_btn li.icon_i a,
#header.fixed .social_btn li.icon_t a,
#header.fixed .social_btn li.icon_y a{ background:#000;}

#header nav ul {
	text-align: right;
}
#header nav li{
	text-align: center;
	display: inline-table;
	font-size: 15px;
	font-weight: bold;
	font-family: 'Arvo', serif;
	padding: 10px 15px;
	letter-spacing: 1.5px;
}
#header nav li a {
	text-decoration: none;
	color: #4D4D4D;
	@include transition(color 0.6s);
}
#header nav li a:hover {
	text-decoration: none;
	color: #999;
}
#header nav li span {
	font-family:-apple-system, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", YuGothic, Avenir, Verdana, Arial, "メイリオ", Roboto, Meiryo, sans-serif;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: normal;
}
#header.fixed nav {
	padding-top: 0;
}
#header.fixed nav li span { display: none;}

#header nav li {
	position: relative;
	ul.child {
		display: none;
		position: absolute;
		z-index:3;
		left:0;
		background:#fff;
		font-weight:normal;
		li {
			padding:0;
			line-height: 1;
			background:#fff;
			display: block;
		}
		a {
			font-family:-apple-system, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", YuGothic, Avenir, Verdana, Arial, "メイリオ", Roboto, Meiryo, sans-serif;
			font-weight:normal;
			display: block;
			padding: 7px 15px;
			line-height: 1;
			@include transition(.6s);
			&:hover {
				background:#FF0000;
				color:#fff;
			}
			font-size:14px;
		}

	}
}

/*----------------------------------------------------
	footer
----------------------------------------------------*/
footer {
	background: #BB9B7E;
	width: 100%;
	padding: 0;
	margin-top: 30px;
}
footer .footer-logo{
	width: 1000px;
	margin: 0 auto;
	text-align: left;
	padding: 10px;
	a {
		@include transition(opacity 0.6s);
		&:hover {
			@include opacity(0.5);
		}
	}
}
footer .copyright{
	background: #000;
	font-size: 11px;
	text-align: center;
	padding: 10px;
	color:#FFF;
}

/* page-top */
#page-top {
	position: fixed;
	bottom: 30px;
	right: 0px;
	font-size: 77%;
	z-index:10;
}
#page-top a {
	background: #333;
	font-family: 'Arvo', serif;
	text-decoration: none;
	color: #fff;
	width: 80px;
	padding: 20px 0;
	text-align: center;
	display: block;
	border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	@include transition(background-color 0.6s);
}
#page-top a:hover {
	text-decoration: none;
	background: #F15A24;
}

/*----------------------------------------------------
	トップページ
----------------------------------------------------*/
.home-img{
	height: 600px;
	background: url(../../img/home-img01.jpg) no-repeat top center;
	width: 100%;
	overflow:hidden;
}
/*
.slide_bg01 {
	background: url(../../img/home-img01.jpg) no-repeat top center;
	height: 600px;
}
.slide_bg02 {
	background: url(../../img/home-img01.jpg) no-repeat top center;
	height: 600px;
}
.slide_bg03 {
	background: url(../../img/home-img01.jpg) no-repeat top center;
	height: 600px;
}
*/
.home-catch{
	padding: 2em 0;
	background: #F4F4ED;
}

.home-news{
	background: #F4F4ED;
	.contens {
		overflow:hidden;
	}
}
.home-news__news-h3{
	background: #FFF;
	font-family: 'Julius Sans One', sans-serif;
}
.home-news__news-h3 section {
	padding: 3em 0.5em 0;
	color: #BB9B7E;
}
.home-news__news-h3 section a{
	color: #BB9B7E;
	text-decoration: none;
}
.home-news__news-h3 section a:hover{
	color: #000;
	text-decoration: none;
}
.home-news ul {
	padding: 1.5em 0;
	letter-spacing: -.40em;
}
.home-news li {
	width: calc(25% - 1em);
	display: inline-block;
	letter-spacing: normal;
	margin: 0.5em;
	background: #FFF;
}
.home-news__news-thumb{
	overflow: hidden;
	text-align: center;
}
.home-news__news-thumb img {
    -moz-transition: -moz-transform 0.2s linear;
    -webkit-transition: -webkit-transform 0.2s linear;
    -o-transition: -o-transform 0.2s linear;
    -ms-transition: -ms-transform 0.2s linear;
    transition: transform 0.2s linear;
}
.home-news__news-thumb img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.home-news__news-block{
	font-size: 14px;
	line-height: 1.7em;
	padding: 0.5em 1em;
}
.home-news__news-block h4{
	font-size: 16px;
	line-height: 1.7em;
	color: #000;
}
.home-news__news-block .news-date{
	font-size: 12px;
}

.home-about{}
.home-about__about-img{
	height: 300px;
	background: url(../../img/indiadelhi.jpg) no-repeat top center;
	background-size: cover;
}
.home-about__about-img section {
	position: relative;
	height: 300px;
}
.home-about__about-img section .caption{
	position: absolute;
	bottom: 5px;
	left: 5px;
	color: #FFF;
	font-size: 21px;
	font-weight: bold;
}
.home-about__about-text {
	padding: 2em 0;
	text-align: center;
}
.home-event{
	padding: 2em 0;
	background: #F4F4ED;
}
.home-eventBtn{
	color: #FFF;
	text-align: center;
	.row.flex {
		@include display-flex;
		@include flex-direction(row);
		@include align-items(center); /* 縦方向中央揃え */
		@include justify-content(center); /* 横方向中央揃え */
	}
}
.home-eventBtn .col-2{
	height: 600px;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
	align-items: center; /* 縦方向中央揃え */
	-webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
	justify-content: center; /* 横方向中央揃え */
	color:#fff;
}
.home-eventBtn .col-3{
	height: 200px;
	display: flex;
	float: none;
	@include align-items(center); /* 縦方向中央揃え */
	@include justify-content(center); /* 横方向中央揃え */
	@include transition(opacity .6s);
	&:hover {
		@include opacity(0.5);
	}
	color:#fff;
}
.home-eventBtn__bg1{
	background: url(../../img/home-eventBtn__bg1.jpg) no-repeat top right;
	background-size: cover;
}
.home-eventBtn__bg2{
	background: url(../../img/home-eventBtn__bg2.jpg) no-repeat top left #F15A24;
	background-size: cover;
}
.home-eventBtn__bg3{
	background: #00D075;
	background-size: cover;
}
.home-eventBtn__bg4{
	background: #1E00FF;
	background-size: cover;
}
.home-eventBtn__bg5{
	background: #FF17C1;
	background-size: cover;
}
.home-eventBtn h3 {
	font-size: 33px;
	line-height: 1em;
	font-weight: normal;
	height: 140px;
	color: #FFF;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
	align-items: center; /* 縦方向中央揃え */
	-webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
	justify-content: center; /* 横方向中央揃え */
}
.home-eventBtn__text {
	height: 200px;
}
.home-ticket {
	padding: 1.5em 0;
	background: #FCEE21;
}
.home-ticket section{
	color: #F15A24;
	padding: 1em 2em;
	margin: 1em auto;
}
.home-ticket__block{
	text-align: center;
	color: #F15A24;
	padding: 1.5em;
	border: 1px solid #F15A24;
}
.home-ticket section h3 {
	color: #F15A24;
}
.home-staff{
	height: 150px;
}
.home-staff li {
	height: 150px;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
	align-items: center; /* 縦方向中央揃え */
	-webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
	justify-content: center; /* 横方向中央揃え */
	background: #CCC;
}
.home-staff li:nth-child(2n){
	background: #EFEFEF;
}
.home-staff li:hover {
	opacity: 0.6;
}
.home-map{
}
.home-sponsors {
	padding: 2em 0;
	height: auto;
	a {
		@include transition(opacity 0.6s);
		&:hover {
			@include opacity(0.5);
		}
	}
}
.home-sponsors h3 {
	background: #BB9B7E;
	color: #FFF;
	text-align: center;
	margin-bottom: 1.5em;
	padding: 0.25em;
}
.home-sponsors li{
	padding: 1em;
	text-align: center;
}

/*	コンテンツスライダー用
----------------------------------------------------*/
.swiper-container-mv {
	width: 100%;
	position: relative;
	.swiper-wrapper {
		height: 600px;
	}
	.swiper-slide {
		text-align: center;
		font-size: 18px;
		height: 600px;
	}
}


.swiper-container--news {
	max-width:960px;
	width: 100%;
	margin:0 auto;
	overflow:hidden;
	.swiper-wrapper {
		height:auto;
	}
	.swiper-slide {
		margin:0;
	}
}

/*----------------------------------------------------
	about
----------------------------------------------------*/

.about-img{
	height: 600px;
	background: url(../../about/img/about-img01.jpg) no-repeat top center;
	background-size: cover;
}
.about-img02{
	height: 500px;
	background: url(../../about/img/about-img02.jpg) no-repeat top center;
	background-size: cover;
}


.fullwidth_img {
  overflow: hidden;
  width: 100%;
  z-index: 9;
}
.fullwidth_img .full_width {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: content-box;
  height: 0;
  margin: 0 -50%;
  padding: 35% 50% 0;
  width: 100%;
}

/* ===============================================
common block
=============================================== */
.main_ttl--onecol {
	font-size: 24px;
	color: #BB9B7E;
	margin-bottom: 25px;
	width: 100%;
	max-width:960px;
	margin-left: auto;
	margin-right: auto;
}
.page-type-type-supporters,
.page-type-page {
	.area--main_contents {
		h2 {
			font-size: 24px;
			color: #BB9B7E;
			margin-bottom: 25px;
		}

		h3 {
			color:#4D4D4D;
			font-size: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid #4D4D4D;
			padding-bottom: 5px;
		}

		h4 {
			color:#4D4D4D;
			font-size: 16px;
		}

		.inner--1st {
			margin:0 auto;
			max-width:960px;
			width: 100%;
		}

		.block-text.w640 {
			padding:0;
			width: 100%;
		}
		.block-text.w640 + * ,
		.fullwidth_img + * {
			margin-top: 35px;
		}
	}
}
/* ===============================================
news lower
=============================================== */
.container--news_lower {
	width: 960px;
	margin:0 auto;
	& + .container--news_lower {
		margin-top: 25px;
	}
	.row {
		text-align: center;
		margin-right: -10px;
		@extend .clearfix;
		li {
			width: 230px;
			display: block;
			vertical-align: top;
			margin-right: 10px;
			float: left;
			.news__news-thumb a {
				display: block;
				width: 230px;
				height:130px;
				background-size:cover;
				background-repeat: no-repeat;
				img {
					opacity:0;
				}
			}
			.news__news-block {
				text-align: left;
				h4 {
					font-size: 16px;
					line-height: 1.7em;
					color: #000;
				}
				.news-date {
					font-size: 12px;
				}
			}
		}
	}
}

.mp_container-class {
	text-align: center;
	margin-top: 35px;
	li {
		display: inline-block;
		padding:10px;
		border:#BB9B7E 1px solid;
		line-height: 1;
		margin-left: 8px;
		margin-right: 8px;
		font-size:14px;
		a {
			text-decoration: none;
		}
	}
	li.mp_active-class {
		background-color:#BB9B7E;
		color: #fff;
	}
	li.mp_disabled-class {
		display: none;
	}
}


.page-template-two-column,
.page-template-teacher {
	.area--main_contents {
		max-width: 960px;
		width: 100%;
		margin:0 auto;
		margin-top: 25px;
		@extend .clearfix;
		.inner--1st {
			width: 634px;
			float: left;
		}
		.inner--2nd {
			width: 290px;
			float: right;
			.row {
				li {
					@extend .clearfix;
					border-top: 1px solid #BB9B7E;
					padding-top: 15px;
				}
				li + li {
					margin-top: 15px;
				}
				.news__news-thumb {
					float: left;
					img {
						width: 80px;
						height:auto;
					}
				}
				.news__news-block {
					overflow: hidden;
					padding-left: 20px;
					h4 {
						font-size: 16px;
						color: #BB9B7E;
						font-weight:normal;
						line-height: 1.5;
						margin:0;
					}
					.news-date {
						font-size: 12px;
						margin:0;
						line-height: 1;
					}
				}
			}
		}
		.time {
			font-size:13px;
		}
		.main_ttl--onecol {
			margin-bottom: 5px;
		}
	}
}

.ccm-block-next-previous-wrapper {
	@extend .clearfix;
	margin-top: 25px;
	.ccm-block-next-previous-previous-link {
		float: left;
		a {
			text-decoration: none;
			@include transition(0.6s);
			font-size:14px;
		}
	}
	.ccm-block-next-previous-next-link {
		float: right;
		a {
			text-decoration: none;
			@include transition(0.6s);
			font-size:14px;
		}
	}
}

.page-template-teacher {
	.main_img {
		background:#F4F4ED;
		padding:35px 0;
		img {
			width: 100%;
			max-width:800px;
			height: auto;
			margin:0 auto;
			display: block;
		}
	}
	.area--main_contents {
		.main_ttl--onecol{
			font-family: 'Julius Sans One', sans-serif;
			color: #BB9B7E;
			font-size: 40px;
			margin-bottom: 30px;
			.subttl {
				display: inline-block;
				margin-left: 15px;
				font-size: 16px;
				line-height: (28 / 16);
				font-family:-apple-system, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", YuGothic, Avenir, Verdana, Arial, "メイリオ", Roboto, Meiryo, sans-serif;
			}
		}
	}

	.inner--2nd {

		padding-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
		.subttl {
			font-size: 16px;
			line-height: (28 / 16);
			color:#4c2b03;
			margin-bottom: 0;
			margin-top: 20px;
		}
		.inner {
			line-height: 1.3;
			font-size: 15px;
			a {
				color: #ED1C24;
				text-decoration:none;
				@include transition(.6s);
				&:hover {
					opacity:0.5;
				}
			}
			* {
				line-height: inherit;
			}
		}
	}
	.thumb_wrap {
		border-bottom: 1px solid #000;
		margin-bottom: 20px;
		padding-bottom: 20px;
		img {
			max-width:100%;
			height:auto;
		}
	}
}

.ext_title {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 30px;
	line-height: (52 / 30);
	border-bottom: 1px solid #000;
	padding-bottom: 5px;
	margin-bottom: 20px;
	.subttl {
		display: inline-block;
		margin-left: 15px;
		font-size: 16px;
		line-height: (28 / 16);
		font-family:-apple-system, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", YuGothic, Avenir, Verdana, Arial, "メイリオ", Roboto, Meiryo, sans-serif;
	}
}

.gold {
	.ext_title {
		color: #BB9B7E;
		border-bottom: 1px solid #BB9B7E;
	}
}

.maxw960 {
	width: 100%;
	max-width:960px;
	margin-left: auto;
	margin-right: auto;
}

/* ===============================================
contact
=============================================== */
.wg_entry_form {
	width: 100%;
	max-width:880px;
	margin:0 auto;
	input[type="text"],
	input[type="email"],
	textarea,
	select {
		border: 1px solid #ccc;
		@include border-radius(3px);
		padding:3px 5px;
		width: 100%;
	}
	table {
		width: 100%;
	}
	th,td {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	th {
		text-align: left;
		padding-right: 30px;
		width: 30%;
	}
	textarea {
		width: 100%;
	}
	.entry_req {
		color: #FF0000;
		font-size:12px;
		display: inline-block;
		margin-left: 8px;
	}
	.form-actions {
		text-align: center;
	}
	.entry_submit_btn {
		display: inline-block;
		padding: 0.5em 1em;
		text-decoration: none;
		border: 1px solid #F15A24;
		color: #F15A24;
		background: #FFF;
		@include transition(.6s);
		cursor: pointer;
		&:hover {
			background: #F15A24;
			color:#fff;
		}
	}
	.entry_back_btn {
		@extend .entry_submit_btn;
		border: 1px solid #4c2b03;
		color: #4c2b03;
		&:hover {
			background: #4c2b03;
			color:#fff;
		}
	}
}

.page-template-full {
	div.alert-success {
		max-width:960px;
		margin-left: auto;
		margin-right: auto;
		border: 3px solid #F15A24!important;
		background:#fff!important;
	}
}


.page-template-one-column {
	.btn_waku {
		width: 100%;
	}
}

.anch {
	padding-top: 200px;
    display: block;
    height: 1px;
    margin-top: -200px;
}

#map {
	width:100%;
	height:500px;
}

.lower_mv {
	max-width:960px;
	margin:0 auto 30px;
	img {
		max-width:100%;
		height: auto;
	}
}

.list--program {
	li {
		padding-left: 0.5em;
		padding-right: 0.5em;
		margin-bottom: 20px;
		a {
			display: block;
			background:#fff;
			text-decoration:none;
			text-align: left;
			color:#000;
			@include transition(opacity .6s);
			&:hover {
				color:#000;
				opacity:0.6;
			}
			height: 100%;
		}
		p {
			margin-bottom: 0;
			margin-top: 10px;
			line-height: 1.4;
		}
		.ttl {
			font-size:16px;
			color:#000;
			margin-bottom: 10px;
			margin-top: 0;

		}
		.text {
			padding:10px;

		}
		.text--add {
			text-align: center;
		}
		.hour {
			margin-top: 0;
		}
		.hour , .category {
			font-size:15px;
		}
	}
}

.list--news--side ,
.swiper-container--news{
	li {
		cursor:pointer;
		@include transition(opacity .6s);
		&:hover {
			@include opacity(0.5);
		}
	}
}
.youtubeBlock {
	margin-bottom: 30px;
}
