#container {
width: auto;
padding: 0;
}
.col-2{ width: 100%;}
.col-3{ width: 100%;}
.col-4{ width: 50%;}
.col-5{ width: 50%;}
.col-6{ width: 33.3333333%;}

.ccm-layout-column-wrapper .ccm-layout-column {
	width: 100%!important;
}


.home-eventBtn{
	.row.flex {
		flex-wrap: wrap;
	}
}

.home-eventBtn .col-3{
	height: 120px;
	@include display-flex;
	@include align-items(center);
	@include justify-content(center);
	width:100%;
	background-position:center top!important;
}
