.sp-head,.sp-text,.sp-img  {
    display: inherit !important;
  }
  .pc-head,.pc-text,.pc-img  {
    display: none !important;
  }
  body { font-size: 14px;}
  header {
    height:100px;
  }
  footer .footer-logo{
	width: 100%;
	text-align: center;
  }
  .block-bgA{
	background: #F4F4ED;
	padding: 2em;
  }
  .block-bgB{
	padding: 2em;
  }
  .block-img{ width: 100%; margin-bottom:1.5em; text-align:center;}
  .block-text{ width: 100%;}
  .block-bgA .f_left{ float:none;}
  .block-bgA .f_right{ float:none;}
  .block-text.w640 {
	width: 100%;
  }
  .home-img {
  	height: 250px;
	background: url(../../img/home-img01.jpg) no-repeat top center;
	background-size: auto 100%;
  }
  .home-about__about-img,
  .home-about__about-img section{
	height: 200px;
	}
  .contents{
	padding: 1em 1.5em;
  }
  h3{ font-size: 19px;}
  h4{ font-size: 16px;}
  h5{ font-size: 14px;}
  .text34 { font-size: 23px;}
  .text45 { font-size: 33px;}
  .btn_waku {
	width: 100%;
  }
  .home-news ul {
	padding: 0.5em 0;
  }
  .home-news li {
	width: calc(50% - 1em);
	font-size: 12px;
  }
  .home-catch, .home-event{
	padding: 1em 0;
  }
  .about-img, .about-img02 {
  	height: 300px;
  }
  .col-2{ width: 100%;}
  .col-3{ width: 100%;}
  .col-4{ width: 50%;}
  .col-5{ width: 33.3333333%;}
  .col-6{ width: 33.3333333%;}

.swiper-container-mv .swiper-wrapper {
	height:250px;
}
.swiper-container-mv .swiper-slide {
	height:250px;
}

.page-type-type-supporters , .page-type-page {
	.area--main_contents {
		.inner--1st {
			padding-left: 2em;
			padding-right: 2em;
		}
	}
}

.main_ttl--onecol {
	padding-left: 1em;
	padding-right: 1em;
}
/* ===============================================
contact
=============================================== */
.wg_entry_form {
	padding-left: 2em;
	padding-right: 2em;
	margin:0 auto;

	table,tbody,tr {
		width: 100%;
		display: block;
	}
	th,td {
		padding-top: 0;
		padding-bottom: 0;
		display: block;
		width: 100%;
		box-sizing: border-box;
	}

	th {
		padding-right: 0;
		width: 100%;
		margin-bottom: 10px;
	}
	tr + tr {
		margin-top: 20px;
		display: block;
	}
	textarea {
		width: 100%;
	}
}


.ext_title {
	padding-left: 1em;
	padding-right: 1em;
	font-size: 20px;
	.subttl {
		display: block;
		margin-left: 0;
		font-size: 15px;
	}
}

.page-template-one-column {
	.main_ttl--onecol {
		padding-left:0;
		padding-right:0;
	}
}

/* ===============================================
2column
=============================================== */

.page-template-two-column,
.page-template-teacher {
	.area--main_contents {
		.main_ttl--onecol {
			padding-left: 0;
			padding-right: 0;
		}
		width: 100%;
		padding-left: 2em;
		padding-right: 2em;
		.inner--1st {
			width: 100%;
			float: none;
		}
		.inner--2nd {
			width: 100%;
			float: none;
		}
	}
}

.page-template-teacher {
	.main_img {
		padding-top: 0;
		padding-bottom: 0;
	}
	.area--main_contents {
		.main_ttl--onecol {
			line-height: 1;
			font-size: 22px;
			.subttl {
				margin-left: 0;
			}
		}

		.inner--2nd {
			margin-top: 25px;
		}
	}
	.ext_title {
		padding-left: 0;
		padding-right: 0;
	}
}

.mm-listview>li>a, .mm-listview>li>span {
	text-decoration: none;
}
