@charset "utf-8";

/*----------------------------------------------------
	画面サイズ
----------------------------------------------------*/

@media (max-width: 1023px) {
	@import "max_width_1023";
}

@media (max-width: 768px) {
	@import "max_width_768";
}

@media (max-width: 480px) {
	@import "max_width_480";
}

