@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?olsrlw');
  src:  url('fonts/icomoon.eot?olsrlw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?olsrlw') format('truetype'),
    url('fonts/icomoon.woff?olsrlw') format('woff'),
    url('fonts/icomoon.svg?olsrlw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_menu:before {
  content: "\e903";
}
.icon-icon_f:before {
  content: "\e900";
}
.icon-icon_i:before {
  content: "\e901";
}
.icon-icon_t:before {
  content: "\e902";
}

