@charset "utf-8";

/*----------------------------------------------------
	画面サイズ
----------------------------------------------------*/

@media (max-width: 1023px) {
  .sp-head,.sp-text,.sp-img {
    display: none !important ;
  }
  .pc-head,.pc-text,.pc-img  {
    display: inherit !important;
  }
  #container {
    width: auto;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .sp-head,.sp-text,.sp-img  {
    display: inherit !important;
  }
  .pc-head,.pc-text,.pc-img  {
    display: none !important;
  }
  body { font-size: 14px;}
  header {
    height:100px;
  }
  footer .footer-logo{
	width: 100%;
	text-align: center;
  }
  .block-bgA{
	background: #F4F4ED;
	padding: 2em;
  }
  .block-bgB{
	padding: 2em;
  }
  .block-img{ width: 100%; margin-bottom:1.5em; text-align:center;}
  .block-text{ width: 100%;}
  .block-bgA .f_left{ float;none;}
  .block-bgA .f_right{ float;none;}
  .block-text.w640 {
	width: 100%;
  }
  .home-img {
  	height: 300px;
	background: url(../../img/home-img01.jpg) no-repeat top center;
	background-size: auto 100%;
  }
  .home-about__about-img,
  .home-about__about-img section{
	height: 200px;
　}
  .contents{
	padding: 1em 1.5em;
  }
  h3{ font-size: 19px;}
  h4{ font-size: 16px;}
  h5{ font-size: 14px;}
  .text34 { font-size: 23px;}
  .text45 { font-size: 33px;}
  .btn_waku {
	width: 100%;
  }
  .home-news ul {
	padding: 0.5em 0;
  }
  .home-news li {
	width: calc(50% - 1em);
	font-size: 12px;
  }
  .home-catch, .home-event{
	padding: 1em 0;
  }
  .about-img, .about-img02 {
  	height: 300px;
  }
  .col-2{ width: 100%;}
  .col-3{ width: 100%;}
  .col-4{ width: 50%;}
  .col-5{ width: 33.3333333%;}
  .col-6{ width: 33.3333333%;}


  .fullwidth_img .full_width {
	  height: auto;
	  margin: 0 ;
	  padding: 0;
	  width: 100%;
	}

}

@media (max-width: 480px) {
  #container {
    width: auto;
    padding: 0;
  }
  .col-2{ width: 100%;}
  .col-3{ width: 100%;}
  .col-4{ width: 50%;}
  .col-5{ width: 50%;}
  .col-6{ width: 33.3333333%;}
}

