.anchor_txt {
	margin: 10px auto;
	width: 90%;
	border:green 3px solid;
	padding: 20px 30px;
	text-align: center;
	font-size: 20px;
	color: green;
}
.anchor_txt span {
	font-weight: bold;
}
.anchor_cause {
	text-align: center;
	font-size: 20px;
	color: red;
}