.swiper-container--staff {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.swiper-container--staff a.swiper-slide {
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    height:150px;
    width: 150px;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 0px 0px 1px #000, 0px 0px 2px #000, 0px 0px 4px #000;
    text-decoration: none;
    padding-bottom: 5px;
    -webkit-transition: opacity .6s;
    -o-transition: opacity .6s;
    transition: opacity .6s;
}

.swiper-container--staff a.swiper-slide:hover  {
    opacity: 0.5;
}


@media (max-width: 480px) {
    .home-staff {
        height: 100px;
    }
    .swiper-container--staff a.swiper-slide { 
        height:100px;
        line-height: 1.3;
        font-size: 14px;
    }
}

